.top-title {
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  p {
    color: rgb(100, 100, 100);
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0;
    line-height: 16px;
  }
}

.top-title li {
  a {
    padding: 2px 2px;
    color: rgb(100, 100, 100);
    font-size: 12px;
  }
}

.dropdown-menu {
  margin: 0px;
  min-width: 70px;
}

#dropdownMenu2 {
  color: rgb(100, 100, 100);
  font-size: 12px;
}
